section.podcast#podcast
  .flex.flex--center
    .col-2
      p.home-lead ...and facebooking with friends.
    
      .podcast-content
        .podcast-thumb
          img(src="assets/img/podcast-thumb.png")
        
        
  
  .flex.flex--center
    .col-1
      a(href="#").home-cta.web Facebook
      
