mixin hsy-img(link, img, color)
  a(href="#{link}" data-color="#{color}").hsy-img-link
    img(src="assets/img/design-img/#{img}")

section.notes#hsylabs
  .flex.flex--center
    .col-3.flex.flex--center.dribbble(data-orig-color="#ea4c89")
      .col-3
        p.home-lead ...Updating his portfolio
        +hsy-img('#', 'drib-1.jpg', 'orange')
        +hsy-img('#', 'drib-2.jpg', '#aeb3b0')
        +hsy-img('#', 'drib-3.png', '#38decc')
        +hsy-img('#', 'drib-4.jpg', '#d21d16')
        +hsy-img('#', 'drib-5.jpg', '#890cee')
        +hsy-img('#', 'drib-6.jpg', '#d6d599')
        +hsy-img('#', 'drib-4.jpg', '#d21d16')
        +hsy-img('#', 'drib-5.jpg', '#890cee')
        +hsy-img('#', 'drib-6.jpg', '#d6d599')
        +hsy-img('#', 'drib-6.jpg', '#d6d599')
        +hsy-img('#', 'drib-6.jpg', '#d6d599')
        +hsy-img('#', 'drib-6.jpg', '#d6d599')
        
